<div class="contenedor">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/files">Important files</a>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
        <a routerLink="/dataParent">Data parent</a>
        <a routerLink="/dynamic">Dynamic component</a>
        <a routerLink="/attribute">Attribute Directive</a>
        <a routerLink="/structural">Structural Directive</a>
        <a routerLink="/pipes">Pipes example</a>
        <a routerLink="/input">User input</a>
        <a routerLink="/forms">Forms</a>
        <a routerLink="/dynamic-forms">Dynamic forms</a>
        <a routerLink="/http">Http requests</a>
        <a routerLink="/unitTest">Unit test</a>
    </nav>
    <router-outlet></router-outlet>
</div>
