<h2>The important configuration files in an angular project are: </h2>
<table>
    <tr>
        <th>Name of the file</th>
        <th>File function</th>
    </tr>
    <tr *ngFor="let file of files">
      <td>{{file.name}}</td>
      <td>{{file.description}}</td>
    </tr>
</table>

<h2>The important terms in Angular: </h2>
<table>
    <tr>
        <th>Name of the file</th>
        <th>File function</th>
    </tr>
    <tr *ngFor="let term of terms">
      <td>{{term.name}}</td>
      <td>{{term.description}}</td>
    </tr>
</table>